.authentification-view, .authentification-form {
	display: flex;
}

.authentification-view {
	height: 90vh;
	justify-content: center;
	align-items: center;
}

.authentification-form {
	min-width: 450px;
	flex-direction: column;
}

.authetification-button {
	margin-top: 35px;
}